<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>492265884073-p6ssgrq23gkot2n5duiijl2t7b44777q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.492265884073-p6ssgrq23gkot2n5duiijl2t7b44777q</string>
	<key>API_KEY</key>
	<string>AIzaSyBQNqPIWurYEnpg8kfY2s9Gpt824B2MQEM</string>
	<key>GCM_SENDER_ID</key>
	<string>492265884073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.linagora.ios.twake</string>
	<key>PROJECT_ID</key>
	<string>twake-195010</string>
	<key>STORAGE_BUCKET</key>
	<string>twake-195010.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492265884073:ios:80dc441ca63b9f036b5cb8</string>
	<key>DATABASE_URL</key>
	<string>https://twake-195010.firebaseio.com</string>
</dict>
</plist>