<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appGroupIdentifier</key>
	<string>group.app.twake.ios.chat</string>
	<key>keychainAccessGroupIdentifier</key>
	<string>KUT463DS29.app.twake.ios.chat</string>
	<key>baseBundleIdentifier</key>
	<string>app.twake.ios.chat</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.usernotifications.service</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).NotificationServiceExtension</string>
	</dict>
</dict>
</plist>
